WEBHOOK_PROXY_URL=https://smee.io/new
APP_WEBHOOK_SECRET=xxxxxx
APP_ID=123456
ENVIRONMENT=development | production
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/o1-mini
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
